# Environment variables for InsightHire

# Flask Configuration
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=True

# Frontend Configuration  
REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_SOCKET_URL=http://localhost:5000

# Firebase Configuration (if using environment variables instead of JSON)
FIREBASE_PROJECT_ID=test-36118
FIREBASE_PRIVATE_KEY_ID=dd2c3c8711e5a531b8147e0628bf6f0aebac3ec8
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@test-36118.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=112669972686836625710
